In [14]:
import pandas as pd

file = open("c:/users/wston/documents/roster.csv")

frame = pd.read_csv(file)

frame.head()

gender = frame["gender"].value_counts() 
gender

x = type(frame["emp_no"])
x

frame["emp_no"] = pd.to_numeric(frame["emp_no"], errors='coerce').fillna(0).astype(int)

emp = frame["emp_no"]/1000
frame["emp_no"] = emp
frame.head()

   emp_no birth_date first_name last_name gender   hire_date
0   0.000   9/2/1953     Georgi   Facello      M   6/26/1986
1  10.002   6/2/1964    Bezalel    Simmel      F  11/21/1985
2  10.003  12/3/1959      Parto   Bamford      M   8/28/1986
3  10.004   5/1/1954  Chirstian   Koblick      M   12/1/1986
4  10.005  1/21/1955    Kyoichi  Maliniak      M   9/12/1989